*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: aliceblue;
}
#nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(89, 89, 235);
    padding: 2rem 4rem;
    color: aliceblue;
}
h1{
    text-align: center;
}
section{
    text-align: center;
}
form{
    display: inline-block;
    align-self: center;
    padding: 1.5em 5rem;   
    border: 1px solid gray;
    border-radius: 1em;
}

li{
    margin-top: 1rem;
}
label{
    display: block;
    text-align: left;
    margin-bottom: 0.2rem;

}
input{
    padding: 0.3rem;
}
button{
    padding: 0.3rem 1rem;
}