*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: aliceblue;
}
#nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(89, 89, 235);
    padding: 2rem 4rem;
    color: aliceblue;
}