*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --yellow-primary: #F2E205;
    --yellow-second: #D7F205;
    --blue-primary: #5581D9;
    --blue-second:#5E88BF;
    --black: #262626;
}
body{
    background-color: var(--blue-primary) !important;
}
ul,
li{
    list-style: none;
    margin-left: 0.3rem;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.navbar{
    background-color: var(--yellow-primary) !important;
    padding: 2rem 4rem;
}

h1{
    text-align: center;
    margin: 1.5rem 0;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#interactionDiv{
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
}
#guessInput{
    margin-right: 0.7rem;
}
button{
    margin-right: 0.4rem;
    padding: 0.1rem 0.6rem;
}
p{
    max-width: 50%;
}